*{
    padding: 0;
    margin: 0;
}

body{
    
    background-image: url('02160e0c98dbdfff31857326260d2a9c.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Para asegurarse de que la imagen de fondo cubra todo el cuerpo */
    background-repeat: no-repeat; /* Para evitar que la imagen de fondo se repita */
    

}

h1{
text-align: center;
background-color: lightblue;
color: darkblue;
padding: 20px;
}

h2{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px;
    background-color: azure;
}

h3{
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding: 20px;
    background-color: azure;
}

.menu{
    list-style: none;
    padding: 0;
    background: lightblue;
    width: 100%;
    margin: auto;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}
.menu li a:hover{
    background: darkblue;
    color:white;
}

img{
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

.contenido{
    display: flex;
    margin: 15px;
}

.opciones{
    display: flex;
    width: 80%;
    border-bottom: 3px solid black;
    margin: 15px auto;
}

.secciones{
    display: flex;
    align-items: center;
    padding: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    background-color: palegreen;
    padding: 2px;
}

.ffffff{
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    font-size: 16px; 
    line-height: 1.6; 
    font-family: Arial, sans-serif; 
}

.mm{
   
    
    height: auto; 
    display: block; 
    margin: 20px auto; 
}

.video{
    text-align: center;
    background-color: white;
}
.formulario {
    width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}